.feed_container{
    width: 100%;
    margin-top: 73px;
}
.feed_container .content{
    display: flex;
    position: relative;
}
.feed_container .vedio_parent{
    width: 81%;
    margin-left: 18%;
}
.feed_container .sidebar_parent{
    width: 16%;
    z-index: 11;
    position: fixed;
    transition: 0.6s;
}



.channel_details{
    margin-top: 35px;
    padding-left: 50px;
    display: flex;
}
.channel_details .logo_img{
    width: 120px;
    border-radius: 50%;
}
.channel_details .name{
    font-family: 'RobotoRegular';
    margin-bottom: 5px;
    color: rgb(224, 224, 224);
    font-size: 22px;
}
.channel_details .views{
    color: rgb(200, 200, 200);
    font-size: 16px;
    margin-bottom: 5px;
}
.channel_details .description{
    color: rgb(200, 200, 200);
    font-size: 16px;
    margin-bottom: 0px;
}
.subscribe_btn{
    color: black;
    background-color: white;
    border: none;
    outline: none;
    padding: 5px 15px;
    font-family: 'RobotoRegular';
    font-size: 17px;
    border-radius: 4px;
    margin-right: 20px;
}
.bg_channel{
    height: 40vh;
    object-fit: cover;
}




@media screen and (max-width:992px){
    .feed_container .vedio_parent{
        width: 100%;
        margin-left: 0%;
    }
    .channel_details{
        padding-left: 0px;
    }
    .channel_details .logo_img{
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }
    .subscribe_btn{
        width: fit-content;
    }
    .bg_channel{
        height: 24vh;
        object-fit: cover;
    }
}


@media screen and (max-width:992px) {
    .sidebar_parent {
        display: none;   
        width: 215px !important;
        height: 100%;
        margin-left: -2px;
        margin-top: -2px;
    }
}