.explore_item_parent{
    display: flex;
    width: 100%;
    height: 40px;
    margin-top: 5px;
}
.explore_item_parent .explore_item{
    background-color: var(--primary-color);
    padding: 6px 20px;
    border-radius: 8px;
    margin-right: 15px;
    white-space: nowrap;
    width: fit-content;
    cursor: pointer;
}
.explore_item_parent .explore_item span{
    background-color: var(--primary-color);
    color: white;
    font-family: 'RobotoThin', sans-serif;
    font-size: 14px;
}
.explore_item_parent .explore_item.active {
    background-color: white;
}
.explore_item_parent .explore_item.active span {
    background-color: white;
    color: black;
}