*{
    background-color: var(--bg-color);
}

/* logo section  */
.header{
    padding: 17px 35px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 11;
}
.header .header_logo_section .menu_bar{ 
    width: 20px;
}
.header .header_logo_section .logo_img{
    width: 110px;
    margin-left: 25px;
}



/* search section  */
.header .header_search_section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.header .header_search_section .search{
    display: flex;
}
.header .header_search_section .search .search_input{
    width: 600px;
    height: 43px;
    border: 2px solid var(--primary-color);
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    padding: 0px 18px;
    font-family: 'RobotoRegular', sans-serif;
    color: rgb(214, 214, 214);
    outline: none;
}
.header .header_search_section .search .search_input:focus{
    outline: none;
}
.header .header_search_section .search .search_icon_div{
    background-color: var(--primary-color);
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.header .header_search_section .search .search_icon_div .search_icon{
    width: 28px;
    background-color: var(--primary-color);
    height: 28px;
}
.header .header_search_section .voice_icon_div{
    background-color: var(--primary-color);
    height: 40px;
    margin-left: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    padding: 10px 11px;
}
.header .header_search_section  .voice_icon_div .voice_icon{
    background-color: var(--primary-color);
    width: 20px;
}




.header .video_icon_section{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}
.header .video_icon_section .video_icon{
    width: 25px;
    cursor: pointer;
}
.header .notification_icon_div{
    position: relative;
}
.header .notification_icon_div span{
    position: absolute;
    background-color: #CC0000;
    color: white;
    font-size: 12px;
    padding: 0px 3px 0px 5px;
    top: -3px;
    right: -10px;
    font-family: 'RobotoRegular', 'Helvetica Neue', Helvetica, Arial;

    border-radius: 20px;
}
.header .video_icon_section .notification_icon{
    width: 25px;
    margin-left: 30px;
    cursor: pointer;
}
.header .video_icon_section .avatar_icon{
    width: 28px;
    margin-left: 30px;
    cursor: pointer;
}

.mobile_search{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.mobile_search  input{
    width: 100%;
    border: 1px solid #d5d5d540;
    height: 40px;
    padding: 0px 15px;
    outline: none;
    border-radius: 3px;
}
.mobile_search .search{
    width: 40px;
    height: 38px;
    background: #cbcbcb24;
    margin-left: 8px;
    padding: 6px;
    border-radius: 5px;
    position: absolute;
    right: 0px;
}
.mobile_search .close{
    width: 40px;
    height: 40px;
    background: #cbcbcb24;
    margin-left: 8px;
    padding: 12px;
    border-radius: 5px;
}

.auto_complete{
    position: fixed;
    top: 65px;
    background-color: var(--primary-color);
    margin-left: -60px;
    padding: 15px 25px;
    border-radius: 15px;
}
.auto_complete h6.txt{
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: 'RobotoThin', sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
}
.auto_complete .search_icoon{
    width: 23px;
    background-color: var(--primary-color);
    margin-right: 7px;
}


@media screen and (max-width:992px) {

    .header .header_search_section .search .search_input{
        width: 280px;
    }
    .header .header_search_section .search .search_icon_div{
        padding: 0px 10px;
    }
    .header .header_search_section .search .search_icon_div .search_icon{
        width: 25px;
        height: 25px;
    }

}



@media screen and (max-width:800px) {

    .header .header_search_section .search .search_input{
        width: 250px;
    }
    .header .header_search_section .voice_icon_div{
       display: none;
    }
}

@media screen and (max-width:780px) {

    .header .header_logo_section .logo_img{
        width: 90px;
        margin-left: 15px;
    }
        
    .header .header_search_section .search .search_input{
        height: 38px;
    }
    .header .header_logo_section .menu_bar{ 
        width: 15px;
    }

    .header .video_icon_section .notification_icon{
        width: 24px;
        margin-left: 15px;
        cursor: pointer;
    }
    .header .video_icon_section .avatar_icon{
        width: 24px;
        margin-left: 15px;
        cursor: pointer;
    }
    .header .video_icon_section .video_icon{
        width: 24px;
        cursor: pointer;
    }
    .header .header_search_section .search .search_icon_div{
        height: 38px;
    }
    .header .header_search_section .search .search_icon_div .search_icon{
        width: 28px;
        background-color: var(--primary-color);
        height: 28px;
    }
}



@media screen and (max-width:450px) {
    .header .header_search_section .search{
        display: none;
    }
}
