/* global styles  */
*{
  margin: 0;
  padding: 0;
  box-sizing: 'border-box';
}
.d-flex-full{
  display: flex;
  justify-content: center;
  align-items: center;
}
.app{
  padding: 0px 28px;
}

:root {
  --bg-color: #0F0F0F; 
  --primary-color: #222222; 

  --regularfont: 'RobotoRegular', sans-serif; 
  --boldfont: 'RobotoBold', sans-serif; 
  --mediumfont: 'RobotoMedium', sans-serif; 
  --lightfont: 'RobotoLight', sans-serif; 
}


/* fonts  */
@font-face {
  font-family: 'RobotoLight'; 
  src: url('./assets/fonts/roboto/Roboto-Light.ttf') format('truetype'); 
}
@font-face {
  font-family: 'RobotoRegular'; 
  src: url('./assets/fonts/roboto/Roboto-Regular.ttf') format('truetype'); 
}
@font-face {
  font-family: 'RobotoMedium'; 
  src: url('./assets/fonts/roboto/Roboto-Medium.ttf') format('truetype'); 
}
@font-face {
  font-family: 'RobotoBold'; 
  src: url('./assets/fonts/roboto/Roboto-Bold.ttf') format('truetype'); 
}
